body {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#menu-outer {
    background-color: rgb(131, 31, 31);
    overflow: hidden;
    padding: .15em;
}

.table {
    display: table;
    margin: 0 auto;
}

ul#horizontal li {
    display: inline;
}

li a {
    color:white;
    padding: 16px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

li a:hover {
    outline: solid rgb(0, 0, 0);
}

#summary p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#summary img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}