*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General Styles */

body {
    background: #5cdb95;
    font-family: 'Varela Round';
    color: #05386b;
    margin: 0;
    line-height: 1.5;
}

footer {
    background: #05386b;
    color: white;
}

.social_media_list_link,
.email_link {
    color: white;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.3;
    margin: 0;
}

h1,
h2 {
    font-size: xx-large;
}

.section_statement {
    font-weight: bold;
    font-size: large;
}

/* NavBar */

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.nav {
    position: fixed;
    background: #379683;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav_list {
    list-style: none;
    display: flex;
    height: 20%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}

.nav_link {
    color: #05386b;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
}

.nav_link:hover {
    color: #8ee4af;
    text-decoration: underline;
}

.nav_toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right:1em;
    top: 1em;
    z-index: 1000;
}

.nav_open .nav {
    transform: translateX(0);

}

.nav_open .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.nav_open .hamburger::before {
    transform: rotate(135deg);
    transform-origin: center;
    top: 10%;
}


.nav_open .hamburger::after {
    transform: rotate(225deg);
    transform-origin: center;
    top: 10%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0);
}

.hamburger {   
    display: inline-block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: #05386b;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 7px;}
.hamburger::after {bottom: 7px;}